<a href="https://colab.research.google.com/github/chelsea591/Econometria_QLab_PC/blob/main/PC1/PC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica Calificada 1**
*Integrantes:*
* Lesly Guzmán (20212335)
* Angie Quispe (20231371)
* Chelsea Torres (20200891)

# **Differences-in-Differences**

#**Ejercicio 1**
In this question, you will analyze the effect of China entering the WTO in 2001 on U.S. Manufacturing employment. Several papers attempt to tackle this issue (See Autor, Dorn, Hanson, 2013), we are going to mimic these papers using a simple framework. First, download from the Census website the County Business Patterns (CBP) series. This series includes the number of establishments, employment during the week of March 12, first quarter payroll, and annual payroll. CBP datasets are downloadable files in comma-separated value (CSV) format. In addition, corresponding record layouts and reference files are available. https://www.census.gov/programs-surveys/cbp/data/datasets.html

- See the attached do file which explains how to extract the dataset for year 1999 and keep all the 3-digit NAICS sector. You will have to do the same for years 1998-2006 and append all these files together. Create a variable called “year” that tracks the year of each dataset, this will be useful when appending all the years together. Keep the variables FIPSTATE, YEAR, NAICS, EMP, QP1, AP, and EST. Hint: Use the command “foreach var in “ ” “ to loop across years.

In [ ]:
# Instalamos e importamos librerías
%pip install linearmodels

Collecting linearmodels
  Downloading linearmodels-7.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (10 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in /usr/local/lib/python3.12/dist-packages (from linearmodels) (2.0.2)
Requirement already satisfied: pandas>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from linearmodels) (2.2.2)
Requirement already satisfied: scipy>=1.8.0 in /usr/local/lib/python3.12/dist-packages (from linearmodels) (1.16.3)
Requirement already satisfied: statsmodels>=0.13.0 in /usr/local/lib/python3.12/dist-packages (from linearmodels) (0.14.6)
Collecting mypy_extensions>=0.4 (from linearmodels)
  Downloading mypy_extensions-1.1.0-py3-none-any.whl.metadata (1.1 kB)
Collecting pyhdfe>=0.1 (from linearmodels)
  Downloading pyhdfe-0.2.0-py3-none-any.whl.metadata (4.0 kB)
Collecting formulaic>=1.2.1 (from linearmodels)
  Downloading formulaic-1.2.1-py3-none-any.whl.metadata (7.0 kB)
Collecting interface-meta>=1.2.0 (from formulaic>=1.2.1->linearmodels)
  Downloading interface_meta-1.3.0-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: narwhals>=1.17 in /usr/local/lib/python3.12/dist-packages (from formulaic>=1.2.1->linearmodels) (2.15.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.12/dist-packages (from formulaic>=1.2.1->linearmodels) (4.15.0)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.12/dist-packages (from formulaic>=1.2.1->linearmodels) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.4.0->linearmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.4.0->linearmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.4.0->linearmodels) (2025.3)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.13.0->linearmodels) (1.0.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.13.0->linearmodels) (25.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->linearmodels) (1.17.0)
Downloading linearmodels-7.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 16.3 MB/s eta 0:00:00
Downloading formulaic-1.2.1-py3-none-any.whl (117 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.3/117.3 kB 9.9 MB/s eta 0:00:00
Downloading mypy_extensions-1.1.0-py3-none-any.whl (5.0 kB)
Downloading pyhdfe-0.2.0-py3-none-any.whl (19 kB)
Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Installing collected packages: mypy_extensions, interface-meta, pyhdfe, formulaic, linearmodels
Successfully installed formulaic-1.2.1 interface-meta-1.3.0 linearmodels-7.0 mypy_extensions-1.1.0 pyhdfe-0.2.0

In [ ]:
# importamos librerías

import pandas as pd
import statsmodels.api as sm
from linearmodels.panel import PanelOLS
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
import statsmodels.formula.api as smf
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Cargamos la base de datos
df = pd.read_stata('datacbp.dta')
df

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38606 entries, 0 to 38605
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fipstate  38606 non-null  int8
 1   naics     38606 non-null  object
 2   emp       38606 non-null  int32
 3   qp1       38606 non-null  int32
 4   ap        38606 non-null  int32
 5   est       38606 non-null  int32
 6   year      38606 non-null  float32
dtypes: float32(1), int32(4), int8(1), object(1)
memory usage: 1.1+ MB

#### Descripción de las variables
* fipstate: código estatal
* naics: código de industria
* emp: total de empleados a mediados de marzo
* qp1: nómina total del primer trimestre
* ap: nómina anual total
* est: número total de establecimientos

In [ ]:
df['year']

0        1998.0
1        1998.0
2        1998.0
3        1998.0
4        1998.0
          ...
38601    2006.0
38602    2006.0
38603    2006.0
38604    2006.0
38605    2006.0
Name: year, Length: 38606, dtype: float32

In [ ]:
# Restringimos la muestra y concatenamos

processed_yearly_dfs = []

for year_val in range(1998, 2007):
    # Filtrar datos para el año actual
    df_year = df[df['year'] == year_val].copy()

    # Limpiar la columna "naics" para conservar solo los primeros tres caracteres numéricos
    df_year['naics'] = df_year['naics'].astype(str).str[:3]
    df_year = df_year[df_year['naics'].str.isnumeric()].copy()

    # Seleccionar columnas específicas
    selected_columns = ['fipstate', 'year', 'naics', 'emp', 'qp1', 'ap', 'est']
    df_year_processed = df_year[selected_columns]

    processed_yearly_dfs.append(df_year_processed)

# Concatenar todos los marcos de datos anuales procesados ​​en un único marco de datos
processed_df = pd.concat(processed_yearly_dfs, ignore_index=True)

processed_df.info()
display(processed_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38606 entries, 0 to 38605
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fipstate  38606 non-null  int8
 1   year      38606 non-null  float32
 2   naics     38606 non-null  object
 3   emp       38606 non-null  int32
 4   qp1       38606 non-null  int32
 5   ap        38606 non-null  int32
 6   est       38606 non-null  int32
dtypes: float32(1), int32(4), int8(1), object(1)
memory usage: 1.1+ MB

   fipstate    year naics   emp    qp1      ap   est
0         1  1998.0   113  8207  44757  195720  1082
1         1  1998.0   114    93    363    1532    30
2         1  1998.0   115  1614  10181   45519   194
3         1  1998.0   211   804   9477   38146    38
4         1  1998.0   212  7074  79136  318295   159

### **1.  ¿Cuál es el nivel de observación?**

El nivel de observación de `processed_df` es a nivel de **fipstate-year-naics** (de 3 dígitos).

### **2. Construcción de la variable dummy `post_china`**

In [ ]:
processed_df['post_china'] = (processed_df['year'] >= 2001).astype(int)
processed_df

       fipstate    year naics    emp    qp1      ap   est  post_china
0             1  1998.0   113   8207  44757  195720  1082           0
1             1  1998.0   114     93    363    1532    30           0
2             1  1998.0   115   1614  10181   45519   194           0
3             1  1998.0   211    804   9477   38146    38           0
4             1  1998.0   212   7074  79136  318295   159           0
...         ...     ...   ...    ...    ...     ...   ...         ...
38601        56  2006.0   721   7759  30345  202369   499           1
38602        56  2006.0   722  17741  46549  211741  1217           1
38603        56  2006.0   811   3274  23666  110002   721           1
38604        56  2006.0   812   1721   7451   31694   366           1
38605        56  2006.0   813   3731  15097   64625   798           1

[38606 rows x 8 columns]

### **3. Construcción de la variable dummy `manuf`, donde `manuf = 1` para todas las observaciones que empiezan con el codigo "3" en naics (manufactura), de lo contrario `manuf = 0`**

In [ ]:
processed_df['manuf'] = (processed_df['naics'].astype(str).str.startswith('3')).astype(int)
processed_df

       fipstate    year naics    emp    qp1      ap   est  post_china  manuf
0             1  1998.0   113   8207  44757  195720  1082           0      0
1             1  1998.0   114     93    363    1532    30           0      0
2             1  1998.0   115   1614  10181   45519   194           0      0
3             1  1998.0   211    804   9477   38146    38           0      0
4             1  1998.0   212   7074  79136  318295   159           0      0
...         ...     ...   ...    ...    ...     ...   ...         ...    ...
38601        56  2006.0   721   7759  30345  202369   499           1      0
38602        56  2006.0   722  17741  46549  211741  1217           1      0
38603        56  2006.0   811   3274  23666  110002   721           1      0
38604        56  2006.0   812   1721   7451   31694   366           1      0
38605        56  2006.0   813   3731  15097   64625   798           1      0

[38606 rows x 9 columns]

### **4. ¿Cuál es el efecto de la entrada de China en la OMC sobre el empleo?**
**Grupo de Tratamiento**: Industrias manufactureras (`manuf = 1`)

**Grupo de Control**: Industrias no manufactureras (`manuf = 0`)

**Período Post-intervención**: Año >= 2001 (`post_china = 1`)

**Período Pre-intervención**: Año < 2001 (`post_china = 0`)

In [ ]:
# Calculamos el empleo promedio para cada una de las cuatro celdas
did_means = processed_df.groupby(['manuf', 'post_china'])['emp'].mean().unstack()

print("Empleo promedio (emp) por grupo y período:")
display(did_means)

Empleo promedio (emp) por grupo y período:

post_china             0             1
manuf
0           29539.341747  30579.647311
1           15619.126095  13366.851284

In [ ]:
# Calculamos el efecto DiD
# (Empleo promedio post-tratamiento - Empleo promedio pre-tratamiento) - (Empleo promedio post-control - Empleo promedio pre-control)
did_effect = (did_means.loc[1, 1] - did_means.loc[1, 0]) - (did_means.loc[0, 1] - did_means.loc[0, 0])

print(f"El efecto de diferencias en diferencias (DiD) sobre el empleo es: {did_effect:.2f}")

El efecto de diferencias en diferencias (DiD) sobre el empleo es: -3292.58

* **Interpretación**: El empleo en las industrias manufactureras disminuyó *más* en el período post-tratamiento (entrada de China en la OMC) en comparación con las industrias no manufactureras. Es decir, la entrada de China en la OMC sobre el empleo en el sector manufacturero tuvo un impacrto negativo.

### **5. Regresión de DiD**

In [ ]:
import statsmodels.formula.api as smf

# Fórmula de la regresión DiD: emp = beta_0 + beta_1*manuf + beta_2*post_china + beta_3*(manuf * post_china)
formula_did = 'emp ~ manuf + post_china + manuf:post_china'

# Ajustar el modelo OLS
model_did = smf.ols(formula=formula_did, data=processed_df).fit()

print("\n--- RESULTADOS DE LA REGRESIÓN DiD ---")
print(model_did.summary())

--- RESULTADOS DE LA REGRESIÓN DiD ---
                            OLS Regression Results
==============================================================================
Dep. Variable:                    emp   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     176.0
Date:                Thu, 05 Feb 2026   Prob (F-statistic):          2.44e-113
Time:                        06:44:40   Log-Likelihood:            -4.7943e+05
No. Observations:               38606   AIC:                         9.589e+05
Df Residuals:                   38602   BIC:                         9.589e+05
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         2.954e+04    617.604     47.829      0.000    2.83e+04    3.07e+04
manuf            -1.392e+04   1225.605    -11.358      0.000   -1.63e+04   -1.15e+04
post_china        1040.3056    750.916      1.385      0.166    -431.509    2512.120
manuf:post_china -3292.5804   1498.411     -2.197      0.028   -6229.504    -355.657
==============================================================================
Omnibus:                    52453.517   Durbin-Watson:                   1.278
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         16786597.626
Skew:                           7.783   Prob(JB):                         0.00
Kurtosis:                     103.962   Cond. No.                         8.08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

* **Interpretación:** Se puede observar que el coeficiente beta_3 o `manuf:post_china` del ítem 5 coincide con el resultado del ítem 4 que es -3292.5804

### **6. Regresión DiD para el número de establecimientos (`est`) y pago medio (`qp1/emp`).**

In [ ]:
import pandas as pd
import statsmodels.formula.api as smf

In [ ]:
# Creamos la variable de pago medio
avg_pay = processed_df['qp1'] / processed_df['emp']
processed_df['avg_pay'] = avg_pay

In [ ]:
# Primer modelo 'establecimiento' (est)
formula_est = 'est ~ manuf + post_china + manuf:post_china'

# Ajustar el modelo OLS para establecimientos
model_est = smf.ols(formula=formula_est, data=processed_df).fit()

print("\n--- RESULTADOS DiD: NÚMERO DE ESTABLECIMIENTOS (est) ---")
print(model_est.summary())

--- RESULTADOS DiD: NÚMERO DE ESTABLECIMIENTOS (est) ---
                            OLS Regression Results
==============================================================================
Dep. Variable:                    est   R-squared:                       0.032
Model:                            OLS   Adj. R-squared:                  0.032
Method:                 Least Squares   F-statistic:                     425.9
Date:                Thu, 05 Feb 2026   Prob (F-statistic):          3.20e-272
Time:                        06:44:52   Log-Likelihood:            -3.7730e+05
No. Observations:               38606   AIC:                         7.546e+05
Df Residuals:                   38602   BIC:                         7.546e+05
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         2091.3099     43.836     47.708      0.000    2005.391    2177.229
manuf            -1753.0774     86.990    -20.153      0.000   -1923.580   -1582.575
post_china          34.0692     53.298      0.639      0.523     -70.396     138.534
manuf:post_china   -52.5750    106.353     -0.494      0.621    -261.029     155.879
==============================================================================
Omnibus:                    54763.351   Durbin-Watson:                   1.664
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         22847322.407
Skew:                           8.366   Prob(JB):                         0.00
Kurtosis:                     120.998   Cond. No.                         8.08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

**Interpretación:** Se observa que el coeficiente de ```manuf:post_china``` (-52.57) tiene un P-value de 0.621. Al ser mayor a 0.05, no es estadísticamente significativo. Por lo tanto, no encontramos evidencia estadística para afirmar que la entrada de China a la OMC causó una disminución en el número de establecimientos en el sector manufacturero.

In [ ]:
# Segundo modelo 'Pago promedio' (avg_pay)
formula_pay = 'avg_pay ~ manuf + post_china + manuf:post_china'

# Ajustar el modelo OLS para establecimientos
model_pay = smf.ols(formula=formula_pay, data=processed_df).fit()

print("\n--- RESULTADOS DiD: NÚMERO DE PAGO PROMEDIO (avg_pay) ---")
print(model_pay.summary())

--- RESULTADOS DiD: NÚMERO DE PAGO PROMEDIO (avg_pay) ---
                            OLS Regression Results
==============================================================================
Dep. Variable:                avg_pay   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     241.7
Date:                Wed, 04 Feb 2026   Prob (F-statistic):          3.76e-155
Time:                        23:57:10   Log-Likelihood:            -1.0015e+05
No. Observations:               33008   AIC:                         2.003e+05
Df Residuals:                   33004   BIC:                         2.003e+05
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            7.1341      0.057    125.865      0.000       7.023       7.245
manuf                0.9394      0.111      8.481      0.000       0.722       1.156
post_china           1.4694      0.069     21.364      0.000       1.335       1.604
manuf:post_china    -0.2150      0.135     -1.592      0.111      -0.480       0.050
==============================================================================
Omnibus:                    37077.832   Durbin-Watson:                   1.318
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9525706.965
Skew:                           5.439   Prob(JB):                         0.00
Kurtosis:                      85.509   Cond. No.                         8.08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

* **Interpretación:** El coeficiente de la interacción es -0.2150 con un P-value de 0.111. Dado que el P-value excede el nivel de significancia estándar (0.10), el resultado no es estadísticamente significativo. Esto indica que no hay evidencia suficiente para concluir que la entrada de China a la OMC tuvo un impacto en los salarios promedio del sector manufacturero.

### **7. Regresión DiD con logartimo del empleo log(`emp`).**

In [ ]:
# Generamos la variable dependiente en logaritmos
log_emp = np.log(processed_df['emp'])
processed_df['log_emp'] = log_emp

processed_df['log_emp'] = np.log(processed_df['emp'] + 1)
# Fórmula de la regresión DiD: log_emp = beta_0 + beta_1*manuf + beta_2*post_china + beta_3*(manuf * post_china)
formula_logdid = 'log_emp ~ manuf + post_china + manuf:post_china'

# Ajustar el modelo OLS
model_logdid = smf.ols(formula=formula_logdid, data=processed_df).fit()

print("\n--- RESULTADOS DE LA REGRESIÓN DiD ---")
print(model_logdid.summary())

--- RESULTADOS DE LA REGRESIÓN DiD ---
                            OLS Regression Results
==============================================================================
Dep. Variable:                log_emp   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     7.026
Date:                Thu, 05 Feb 2026   Prob (F-statistic):           0.000102
Time:                        06:45:32   Log-Likelihood:            -1.0403e+05
No. Observations:               38606   AIC:                         2.081e+05
Df Residuals:                   38602   BIC:                         2.081e+05
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            7.8559      0.037    212.574      0.000       7.783       7.928
manuf               -0.1011      0.073     -1.379      0.168      -0.245       0.043
post_china           0.0694      0.045      1.545      0.122      -0.019       0.157
manuf:post_china    -0.1181      0.090     -1.317      0.188      -0.294       0.058
==============================================================================
Omnibus:                     7189.293   Durbin-Watson:                   1.155
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11904.510
Skew:                          -1.324   Prob(JB):                         0.00
Kurtosis:                       3.619   Cond. No.                         8.08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

* **Interpretación:** Dado que el coeficiente de la variable ```manuf:post_china```  no es significativo (0.188), no se puede asegurar que la entrada de China a la Organización Mundial del Comercio tenga un efecto en la disminución del empleo manufaccturero.

* **¿Es necesario tomar logaritmos?**

  Tomar logaritmos es recomendable en este contexto por dos razones principales. Primero, las variables de empleo suelen tener una distribución sesgada a la derecha, y el logaritmo suaviza estos valores atípicos acercando la distribución a la normalidad. Segundo, permite interpretar el coeficiente como una elasticidad o cambio porcentual, lo cual ermite interpretar los efectos en términos relativos (%) en lugar de absolutos.

## **Event Study**

## **8. Generación de dummies por año. y la interacción entre estas y el grupo de tratamiento (`manuf`).**

In [ ]:
# Generamos dummies por año
processed_df['year'] = processed_df['year'].astype(int)

year_dummies = pd.get_dummies(processed_df['year'], prefix='year')
processed_df = pd.concat([processed_df, year_dummies], axis=1)

In [ ]:
# Generamos las interacciones
unique_years = sorted(processed_df['year'].unique())
for y in unique_years:
    interaction_name = f'interaction_{y}'
    processed_df[f'interaction_{y}'] = processed_df['manuf'] * processed_df[f'year_{y}']

print(f"Años encontrados: {unique_years}")
print("Columnas de interacción creadas:")
print([col for col in processed_df.columns if 'interaction_' in col])

Años encontrados: [np.int64(1998), np.int64(1999), np.int64(2000), np.int64(2001), np.int64(2002), np.int64(2003), np.int64(2004), np.int64(2005), np.int64(2006)]
Columnas de interacción creadas (deberían ser 9):
['interaction_1998', 'interaction_1999', 'interaction_2000', 'interaction_2001', 'interaction_2002', 'interaction_2003', 'interaction_2004', 'interaction_2005', 'interaction_2006']

## **9. Regresión con log(`manuf`) vs. las dummies por año (Efectos fijos)**

In [ ]:
# Definimos las interacciones
interaction_vars = [f'interaction_{y}' for y in range(1999, 2007)]
interactions_formula = " + ".join(interaction_vars)

In [ ]:
# Construimos las fórmula
# log_emp ~ Interacciones + Efectos Fijos de Año + Efectos Fijos de Estado + Efectos Fijos NAICS
formula_es = f"log_emp ~ {interactions_formula} + C(year) + C(fipstate) + C(naics)"
model_es = smf.ols(formula=formula_es, data=processed_df).fit()

print("\n--- RESULTADOS EVENT STUDY: LOG(EMPLEO) ---")
print(model_es.summary().tables[1])

--- RESULTADOS EVENT STUDY: LOG(EMPLEO) ---
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             3.1278      0.123     25.530      0.000       2.888       3.368
C(year)[T.1999]      -0.1820      0.050     -3.631      0.000      -0.280      -0.084
C(year)[T.2000]      -0.1135      0.050     -2.264      0.024      -0.212      -0.015
C(year)[T.2001]      -0.0687      0.050     -1.371      0.171      -0.167       0.030
C(year)[T.2002]       0.1358      0.050      2.710      0.007       0.038       0.234
C(year)[T.2003]       0.1370      0.050      2.727      0.006       0.039       0.236
C(year)[T.2004]       0.1036      0.050      2.061      0.039       0.005       0.202
C(year)[T.2005]       0.1780      0.050      3.542      0.000       0.079       0.277
C(year)[T.2006]       0.1105      0.050      2.198      0.028       0.012       0.209
C(fipstate)[T.2]     -3.6037      0.102    -35.320      0.000      -3.804      -3.404
C(fipstate)[T.4]      0.0592      0.102      0.583      0.560      -0.140       0.258
C(fipstate)[T.5]     -0.6863      0.102     -6.760      0.000      -0.885      -0.487
C(fipstate)[T.6]      2.3754      0.102     23.400      0.000       2.176       2.574
C(fipstate)[T.8]      0.1444      0.102      1.423      0.155      -0.055       0.343
C(fipstate)[T.9]     -0.4771      0.102     -4.700      0.000      -0.676      -0.278
C(fipstate)[T.10]    -2.5861      0.102    -25.381      0.000      -2.786      -2.386
C(fipstate)[T.11]    -3.8398      0.104    -36.918      0.000      -4.044      -3.636
C(fipstate)[T.12]     1.3980      0.102     13.772      0.000       1.199       1.597
C(fipstate)[T.13]     0.7802      0.102      7.685      0.000       0.581       0.979
C(fipstate)[T.15]    -2.6815      0.102    -26.210      0.000      -2.882      -2.481
C(fipstate)[T.16]    -2.3783      0.102    -23.342      0.000      -2.578      -2.179
C(fipstate)[T.17]     1.1693      0.102     11.519      0.000       0.970       1.368
C(fipstate)[T.18]     0.3173      0.102      3.120      0.002       0.118       0.517
C(fipstate)[T.19]    -0.8590      0.102     -8.454      0.000      -1.058      -0.660
C(fipstate)[T.20]    -0.5504      0.102     -5.406      0.000      -0.750      -0.351
C(fipstate)[T.21]    -0.2431      0.102     -2.395      0.017      -0.442      -0.044
C(fipstate)[T.22]     0.0628      0.102      0.619      0.536      -0.136       0.262
C(fipstate)[T.23]    -2.1669      0.102    -21.231      0.000      -2.367      -1.967
C(fipstate)[T.24]     0.0465      0.102      0.458      0.647      -0.152       0.245
C(fipstate)[T.25]     0.3187      0.102      3.139      0.002       0.120       0.518
C(fipstate)[T.26]     0.9586      0.102      9.443      0.000       0.760       1.158
C(fipstate)[T.27]     0.1459      0.102      1.437      0.151      -0.053       0.345
C(fipstate)[T.28]    -0.9333      0.102     -9.165      0.000      -1.133      -0.734
C(fipstate)[T.29]     0.3782      0.102      3.725      0.000       0.179       0.577
C(fipstate)[T.30]    -2.6844      0.102    -26.409      0.000      -2.884      -2.485
C(fipstate)[T.31]    -1.3553      0.102    -13.347      0.000      -1.554      -1.156
C(fipstate)[T.32]    -1.1177      0.102    -10.981      0.000      -1.317      -0.918
C(fipstate)[T.33]    -1.8179      0.102    -17.836      0.000      -2.018      -1.618
C(fipstate)[T.34]     0.7400      0.102      7.283      0.000       0.541       0.939
C(fipstate)[T.35]    -1.6917      0.102    -16.575      0.000      -1.892      -1.492
C(fipstate)[T.36]     1.5418      0.102     15.189      0.000       1.343       1.741
C(fipstate)[T.37]     0.7814      0.102      7.698      0.000       0.582       0.980
C(fipstate)[T.38]    -3.4561      0.102    -33.781      0.000      -3.657      -3.256
C(fipstate)[T.39]     1.1648      0.102     11.475      0.000       0.966       1.364
C(fipstate)[T.40]    -0.4147      0.102     -4.086      0.000      -0.614      -0.216
C(fipstate)[T.41]    -0.2166      0.102     -2.134      0.033      -0.416      -0.018
C(fipstate)[T.42]     1.2814      0.102     12.624      0.000       1.082       1.480
C(fipstate)[T.44]    -2.2219      0.102    -21.785      0.000      -2.422      -2.022
C(fipstate)[T.45]    -0.3414      0.102     -3.363      0.001      -0.540      -0.142
C(fipstate)[T.46]    -2.9028      0.102    -28.421      0.000      -3.103      -2.703
C(fipstate)[T.47]     0.3600      0.102      3.546      0.000       0.161       0.559
C(fipstate)[T.48]     2.0125      0.102     19.825      0.000       1.814       2.211
C(fipstate)[T.49]    -0.8682      0.102     -8.552      0.000      -1.067      -0.669
C(fipstate)[T.50]    -3.1868      0.102    -31.233      0.000      -3.387      -2.987
C(fipstate)[T.51]     0.6187      0.102      6.095      0.000       0.420       0.818
C(fipstate)[T.53]     0.5160      0.102      5.083      0.000       0.317       0.715
C(fipstate)[T.54]    -1.7703      0.102    -17.422      0.000      -1.969      -1.571
C(fipstate)[T.55]     0.2541      0.102      2.499      0.012       0.055       0.453
C(fipstate)[T.56]    -4.1258      0.102    -40.478      0.000      -4.326      -3.926
C(naics)[T.114]      -1.2948      0.133     -9.762      0.000      -1.555      -1.035
C(naics)[T.115]       0.9320      0.132      7.061      0.000       0.673       1.191
C(naics)[T.211]       1.4268      0.134     10.684      0.000       1.165       1.689
C(naics)[T.212]       3.5178      0.132     26.668      0.000       3.259       3.776
C(naics)[T.213]       1.8323      0.132     13.846      0.000       1.573       2.092
C(naics)[T.221]       6.2770      0.132     47.584      0.000       6.018       6.536
C(naics)[T.233]       7.4214      0.156     47.533      0.000       7.115       7.727
C(naics)[T.234]       6.7922      0.156     43.503      0.000       6.486       7.098
C(naics)[T.235]       8.2214      0.156     52.656      0.000       7.915       8.527
C(naics)[T.236]       7.2739      0.168     43.235      0.000       6.944       7.604
C(naics)[T.237]       6.6649      0.168     39.615      0.000       6.335       6.995
C(naics)[T.238]       8.1449      0.168     48.412      0.000       7.815       8.475
C(naics)[T.311]       7.0692      0.148     47.870      0.000       6.780       7.359
C(naics)[T.312]       3.3370      0.148     22.597      0.000       3.048       3.626
C(naics)[T.313]       2.8520      0.148     19.253      0.000       2.562       3.142
C(naics)[T.314]       3.8233      0.148     25.890      0.000       3.534       4.113
C(naics)[T.315]       3.8829      0.148     26.293      0.000       3.593       4.172
C(naics)[T.316]       1.8038      0.148     12.162      0.000       1.513       2.094
C(naics)[T.321]       5.9702      0.148     40.366      0.000       5.680       6.260
C(naics)[T.322]       5.1614      0.148     34.924      0.000       4.872       5.451
C(naics)[T.323]       6.4334      0.148     43.564      0.000       6.144       6.723
C(naics)[T.324]       3.1349      0.148     21.129      0.000       2.844       3.426
C(naics)[T.325]       5.9021      0.148     39.966      0.000       5.613       6.192
C(naics)[T.326]       6.3693      0.148     42.964      0.000       6.079       6.660
C(naics)[T.327]       5.9558      0.148     40.330      0.000       5.666       6.245
C(naics)[T.331]       5.0958      0.148     34.333      0.000       4.805       5.387
C(naics)[T.332]       6.9586      0.148     47.120      0.000       6.669       7.248
C(naics)[T.333]       6.3964      0.148     43.314      0.000       6.107       6.686
C(naics)[T.334]       6.3794      0.148     43.199      0.000       6.090       6.669
C(naics)[T.335]       5.1116      0.148     34.613      0.000       4.822       5.401
C(naics)[T.336]       6.2705      0.148     42.461      0.000       5.981       6.560
C(naics)[T.337]       5.9046      0.148     39.983      0.000       5.615       6.194
C(naics)[T.339]       6.3740      0.148     43.162      0.000       6.085       6.663
C(naics)[T.421]       8.0358      0.156     51.467      0.000       7.730       8.342
C(naics)[T.422]       7.7526      0.156     49.654      0.000       7.447       8.059
C(naics)[T.423]       7.8307      0.168     46.545      0.000       7.501       8.160
C(naics)[T.424]       7.1187      0.168     42.313      0.000       6.789       7.448
C(naics)[T.425]       5.0351      0.168     29.928      0.000       4.705       5.365
C(naics)[T.441]       7.4348      0.132     56.361      0.000       7.176       7.693
C(naics)[T.442]       6.2068      0.132     47.052      0.000       5.948       6.465
C(naics)[T.443]       5.7588      0.132     43.656      0.000       5.500       6.017
C(naics)[T.444]       7.1037      0.132     53.851      0.000       6.845       7.362
C(naics)[T.445]       7.9477      0.132     60.250      0.000       7.689       8.206
C(naics)[T.446]       6.7651      0.132     51.285      0.000       6.507       7.024
C(naics)[T.447]       6.8993      0.132     52.302      0.000       6.641       7.158
C(naics)[T.448]       7.1341      0.132     54.082      0.000       6.876       7.393
C(naics)[T.451]       6.3902      0.132     48.442      0.000       6.132       6.649
C(naics)[T.452]       7.6290      0.132     57.833      0.000       7.370       7.888
C(naics)[T.453]       6.7089      0.132     50.858      0.000       6.450       6.967
C(naics)[T.454]       6.2272      0.132     47.207      0.000       5.969       6.486
C(naics)[T.481]       4.2063      0.132     31.887      0.000       3.948       4.465
C(naics)[T.483]       0.8115      0.133      6.087      0.000       0.550       1.073
C(naics)[T.484]       7.1113      0.132     53.909      0.000       6.853       7.370
C(naics)[T.485]       4.5666      0.132     34.618      0.000       4.308       4.825
C(naics)[T.486]       0.5854      0.132      4.421      0.000       0.326       0.845
C(naics)[T.487]      -0.7955      0.132     -6.015      0.000      -1.055      -0.536
C(naics)[T.488]       5.6823      0.132     43.076      0.000       5.424       5.941
C(naics)[T.492]       4.9742      0.132     37.708      0.000       4.716       5.233
C(naics)[T.493]       4.0668      0.132     30.829      0.000       3.808       4.325
C(naics)[T.511]       6.1753      0.132     46.814      0.000       5.917       6.434
C(naics)[T.512]       3.7628      0.132     28.525      0.000       3.504       4.021
C(naics)[T.513]       6.9552      0.156     44.547      0.000       6.649       7.261
C(naics)[T.514]       4.5022      0.156     28.836      0.000       4.196       4.808
C(naics)[T.515]       5.2674      0.168     31.309      0.000       4.938       5.597
C(naics)[T.516]       0.8003      0.168      4.757      0.000       0.471       1.130
C(naics)[T.517]       6.9059      0.168     41.048      0.000       6.576       7.236
C(naics)[T.518]       4.4818      0.168     26.639      0.000       4.152       4.812
C(naics)[T.519]       0.9119      0.168      5.420      0.000       0.582       1.242
C(naics)[T.521]      -3.3588      0.149    -22.586      0.000      -3.650      -3.067
C(naics)[T.522]       7.5089      0.132     56.923      0.000       7.250       7.767
C(naics)[T.523]       3.1979      0.132     24.243      0.000       2.939       3.456
C(naics)[T.524]       6.4300      0.132     48.744      0.000       6.171       6.689
C(naics)[T.525]      -2.1573      0.132    -16.301      0.000      -2.417      -1.898
C(naics)[T.531]       5.7735      0.132     43.768      0.000       5.515       6.032
C(naics)[T.532]       4.1858      0.132     31.731      0.000       3.927       4.444
C(naics)[T.533]       1.7317      0.132     13.128      0.000       1.473       1.990
C(naics)[T.541]       8.6476      0.132     65.556      0.000       8.389       8.906
C(naics)[T.551]       7.6153      0.132     57.730      0.000       7.357       7.874
C(naics)[T.561]       8.6921      0.132     65.893      0.000       8.434       8.951
C(naics)[T.562]       5.5668      0.132     42.201      0.000       5.308       5.825
C(naics)[T.611]       7.6444      0.132     57.950      0.000       7.386       7.903
C(naics)[T.621]       8.4149      0.132     63.791      0.000       8.156       8.673
C(naics)[T.622]       7.4830      0.132     56.727      0.000       7.224       7.742
C(naics)[T.623]       7.6196      0.132     57.762      0.000       7.361       7.878
C(naics)[T.624]       6.8093      0.132     51.619      0.000       6.551       7.068
C(naics)[T.711]       5.2150      0.132     39.534      0.000       4.956       5.474
C(naics)[T.712]       4.1163      0.132     31.205      0.000       3.858       4.375
C(naics)[T.713]       6.7929      0.132     51.495      0.000       6.534       7.051
C(naics)[T.721]       7.4540      0.132     56.507      0.000       7.195       7.713
C(naics)[T.722]       9.0155      0.132     68.344      0.000       8.757       9.274
C(naics)[T.811]       7.0850      0.132     53.710      0.000       6.826       7.344
C(naics)[T.812]       7.0612      0.132     53.529      0.000       6.803       7.320
C(naics)[T.813]       7.8387      0.132     59.424      0.000       7.580       8.097
interaction_1999      0.0683      0.099      0.687      0.492      -0.127       0.263
interaction_2000      0.1718      0.099      1.728      0.084      -0.023       0.367
interaction_2001      0.0464      0.099      0.467      0.641      -0.148       0.241
interaction_2002     -0.3531      0.099     -3.551      0.000      -0.548      -0.158
interaction_2003     -0.0871      0.100     -0.876      0.381      -0.282       0.108
interaction_2004     -0.1941      0.100     -1.950      0.051      -0.389       0.001
interaction_2005     -0.2490      0.100     -2.502      0.012      -0.444      -0.054
interaction_2006     -0.1901      0.100     -1.910      0.056      -0.385       0.005
=====================================================================================

* **Should you expect to see any effect for the interaction term ```manuf * year``` 1999 or ```manuf * year``` 2000?**

  No se esperaría un efecto de la interacción ```manuf * year``` en ninguno de los años mencionados debido a que el shock (la inclusión de China en la OMC) se dió a partir del año 2001. Ambos años son tomados para el pre-tratamiento.

  Asimismo, se esperaría que los coeficientes de estas dos interacciones sean insignificativas para confirmar el supuesto de **tendencias paralelas**. Sin embargo, se observa que en ```interaction_2000``` el coeficiente **es significativo estadísticamente** al 10%, lo que implica que podría haber tendencias previas al shock. Esto sugiere que el sector manufacturero ya podría haber estado experimentando cambios diferenciales justo antes de la entrada de China.

* **Did the China shock have a significant effect on employment? Was it a short-run or long-run effect?**

  Se observa que los coeficientes de las interacciones son **estadísticamente significativos** en los años 2002 (al 1%), 2004 (al 10%), 2005 (al 5%) y 2006 (al 10%). Esto significa que para estos años, el empleo en el sector manufacturero se vio afectado negativamente debido a la integración de China a la Organización Mundial del Comercio.

  Por otro lado, se observa que los efectos negativos tienen un retraso de un año (lag), ya que no son inmediatos en 2001, sino que empiezan en el año 2002. Estos efectos son de largo plazo, prolongándose hasta el año 2006, aunque se observa una ausencia de significancia estadística puntual en el año 2003. En general, la evidencia apunta a un impacto negativo persistente en el tiempo.

## **10.Regresión con el logartimo de establecimientos (log(`est`)) y pago medio (`avg_pay`)**

In [ ]:
# Generamos log(est)
log_est = np.log(processed_df['est'])
processed_df['log_est'] = log_est

In [ ]:
# Definimos las interacciones
interaction_vars= [f'interaction_{y}' for y in range(1999, 2007)]
interactions_formula = " + ".join(interaction_vars)

In [ ]:
# Establecimientos: log(est)
formula_est_es = f"log_est ~ {interactions_formula} + C(year) + C(fipstate) + C(naics)"
model_est_es = smf.ols(formula=formula_est_es, data=processed_df).fit()

print("\n--- EVENT STUDY: LOG(ESTABLECIMIENTOS) ---")
print(model_est_es.summary().tables[1])

--- EVENT STUDY: LOG(ESTABLECIMIENTOS) ---
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             4.6645      0.035    131.446      0.000       4.595       4.734
C(year)[T.1999]       0.0122      0.015      0.838      0.402      -0.016       0.041
C(year)[T.2000]       0.0291      0.015      2.007      0.045       0.001       0.058
C(year)[T.2001]       0.0464      0.015      3.195      0.001       0.018       0.075
C(year)[T.2002]       0.0691      0.015      4.759      0.000       0.041       0.098
C(year)[T.2003]       0.0798      0.015      5.485      0.000       0.051       0.108
C(year)[T.2004]       0.0885      0.015      6.078      0.000       0.060       0.117
C(year)[T.2005]       0.1007      0.015      6.914      0.000       0.072       0.129
C(year)[T.2006]       0.1097      0.015      7.532      0.000       0.081       0.138
C(fipstate)[T.2]     -1.6792      0.030    -56.821      0.000      -1.737      -1.621
C(fipstate)[T.4]     -0.0001      0.029     -0.005      0.996      -0.058       0.058
C(fipstate)[T.5]     -0.4184      0.029    -14.231      0.000      -0.476      -0.361
C(fipstate)[T.6]      2.0602      0.029     70.069      0.000       2.003       2.118
C(fipstate)[T.8]      0.1996      0.029      6.788      0.000       0.142       0.257
C(fipstate)[T.9]     -0.2185      0.029     -7.430      0.000      -0.276      -0.161
C(fipstate)[T.10]    -1.5506      0.030    -52.540      0.000      -1.608      -1.493
C(fipstate)[T.11]    -2.4533      0.030    -81.433      0.000      -2.512      -2.394
C(fipstate)[T.12]     1.3173      0.029     44.802      0.000       1.260       1.375
C(fipstate)[T.13]     0.6203      0.029     21.096      0.000       0.563       0.678
C(fipstate)[T.15]    -1.5102      0.030    -50.961      0.000      -1.568      -1.452
C(fipstate)[T.16]    -1.0239      0.030    -34.692      0.000      -1.082      -0.966
C(fipstate)[T.17]     1.0147      0.029     34.510      0.000       0.957       1.072
C(fipstate)[T.18]     0.2982      0.029     10.125      0.000       0.240       0.356
C(fipstate)[T.19]    -0.3552      0.029    -12.070      0.000      -0.413      -0.298
C(fipstate)[T.20]    -0.3470      0.029    -11.766      0.000      -0.405      -0.289
C(fipstate)[T.21]    -0.1134      0.029     -3.857      0.000      -0.171      -0.056
C(fipstate)[T.22]     0.0181      0.029      0.616      0.538      -0.040       0.076
C(fipstate)[T.23]    -0.9120      0.030    -30.849      0.000      -0.970      -0.854
C(fipstate)[T.24]     0.0134      0.029      0.456      0.648      -0.044       0.071
C(fipstate)[T.25]     0.4404      0.029     14.977      0.000       0.383       0.498
C(fipstate)[T.26]     0.7741      0.029     26.328      0.000       0.716       0.832
C(fipstate)[T.27]     0.2895      0.029      9.845      0.000       0.232       0.347
C(fipstate)[T.28]    -0.4854      0.029    -16.459      0.000      -0.543      -0.428
C(fipstate)[T.29]     0.3105      0.029     10.561      0.000       0.253       0.368
C(fipstate)[T.30]    -1.1076      0.029    -37.619      0.000      -1.165      -1.050
C(fipstate)[T.31]    -0.8458      0.029    -28.756      0.000      -0.903      -0.788
C(fipstate)[T.32]    -0.8166      0.029    -27.696      0.000      -0.874      -0.759
C(fipstate)[T.33]    -0.9914      0.030    -33.581      0.000      -1.049      -0.934
C(fipstate)[T.34]     0.6504      0.029     22.098      0.000       0.593       0.708
C(fipstate)[T.35]    -0.8984      0.030    -30.390      0.000      -0.956      -0.840
C(fipstate)[T.36]     1.4512      0.029     49.357      0.000       1.394       1.509
C(fipstate)[T.37]     0.6450      0.029     21.936      0.000       0.587       0.703
C(fipstate)[T.38]    -1.6854      0.030    -56.872      0.000      -1.743      -1.627
C(fipstate)[T.39]     0.9366      0.029     31.855      0.000       0.879       0.994
C(fipstate)[T.40]    -0.1886      0.029     -6.414      0.000      -0.246      -0.131
C(fipstate)[T.41]     0.0034      0.029      0.117      0.907      -0.054       0.061
C(fipstate)[T.42]     1.0661      0.029     36.259      0.000       1.008       1.124
C(fipstate)[T.44]    -1.3106      0.030    -44.363      0.000      -1.369      -1.253
C(fipstate)[T.45]    -0.1445      0.029     -4.914      0.000      -0.202      -0.087
C(fipstate)[T.46]    -1.4748      0.030    -49.853      0.000      -1.533      -1.417
C(fipstate)[T.47]     0.2654      0.029      9.028      0.000       0.208       0.323
C(fipstate)[T.48]     1.6006      0.029     54.437      0.000       1.543       1.658
C(fipstate)[T.49]    -0.6021      0.029    -20.479      0.000      -0.660      -0.545
C(fipstate)[T.50]    -1.5846      0.030    -53.619      0.000      -1.643      -1.527
C(fipstate)[T.51]     0.4505      0.029     15.321      0.000       0.393       0.508
C(fipstate)[T.53]     0.4489      0.029     15.266      0.000       0.391       0.506
C(fipstate)[T.54]    -0.9919      0.029    -33.702      0.000      -1.050      -0.934
C(fipstate)[T.55]     0.2721      0.029      9.239      0.000       0.214       0.330
C(fipstate)[T.56]    -1.7030      0.030    -57.683      0.000      -1.761      -1.645
C(naics)[T.114]      -1.6766      0.038    -43.642      0.000      -1.752      -1.601
C(naics)[T.115]       0.3383      0.038      8.850      0.000       0.263       0.413
C(naics)[T.211]      -1.2630      0.039    -32.651      0.000      -1.339      -1.187
C(naics)[T.212]       0.0253      0.038      0.661      0.509      -0.050       0.100
C(naics)[T.213]      -0.6373      0.038    -16.626      0.000      -0.712      -0.562
C(naics)[T.221]       0.9619      0.038     25.175      0.000       0.887       1.037
C(naics)[T.233]       3.4603      0.045     76.515      0.000       3.372       3.549
C(naics)[T.234]       1.8059      0.045     39.933      0.000       1.717       1.895
C(naics)[T.235]       4.1318      0.045     91.363      0.000       4.043       4.220
C(naics)[T.236]       3.4706      0.049     71.219      0.000       3.375       3.566
C(naics)[T.237]       1.9718      0.049     40.463      0.000       1.876       2.067
C(naics)[T.238]       4.1591      0.049     85.348      0.000       4.064       4.255
C(naics)[T.311]       1.3447      0.043     31.436      0.000       1.261       1.428
C(naics)[T.312]      -0.9456      0.043    -22.106      0.000      -1.029      -0.862
C(naics)[T.313]      -1.0570      0.043    -24.635      0.000      -1.141      -0.973
C(naics)[T.314]      -0.0910      0.043     -2.127      0.033      -0.175      -0.007
C(naics)[T.315]      -0.0038      0.043     -0.090      0.928      -0.088       0.080
C(naics)[T.316]      -1.6118      0.043    -37.521      0.000      -1.696      -1.528
C(naics)[T.321]       0.8890      0.043     20.751      0.000       0.805       0.973
C(naics)[T.322]      -0.5494      0.043    -12.835      0.000      -0.633      -0.466
C(naics)[T.323]       1.5851      0.043     37.057      0.000       1.501       1.669
C(naics)[T.324]      -1.2185      0.043    -28.355      0.000      -1.303      -1.134
C(naics)[T.325]       0.4889      0.043     11.430      0.000       0.405       0.573
C(naics)[T.326]       0.6454      0.043     15.031      0.000       0.561       0.730
C(naics)[T.327]       0.8998      0.043     21.035      0.000       0.816       0.984
C(naics)[T.331]      -0.4266      0.043     -9.924      0.000      -0.511      -0.342
C(naics)[T.332]       1.9566      0.043     45.741      0.000       1.873       2.040
C(naics)[T.333]       1.1143      0.043     26.051      0.000       1.030       1.198
C(naics)[T.334]       0.4206      0.043      9.833      0.000       0.337       0.504
C(naics)[T.335]      -0.3290      0.043     -7.692      0.000      -0.413      -0.245
C(naics)[T.336]       0.4404      0.043     10.296      0.000       0.357       0.524
C(naics)[T.337]       1.0296      0.043     24.070      0.000       0.946       1.113
C(naics)[T.339]       1.4181      0.043     33.153      0.000       1.334       1.502
C(naics)[T.421]       3.5541      0.045     78.588      0.000       3.465       3.643
C(naics)[T.422]       2.9896      0.045     66.106      0.000       2.901       3.078
C(naics)[T.423]       3.3639      0.049     69.031      0.000       3.268       3.459
C(naics)[T.424]       2.7488      0.049     56.408      0.000       2.653       2.844
C(naics)[T.425]       1.5743      0.049     32.305      0.000       1.479       1.670
C(naics)[T.441]       2.8675      0.038     75.047      0.000       2.793       2.942
C(naics)[T.442]       2.1551      0.038     56.404      0.000       2.080       2.230
C(naics)[T.443]       1.8484      0.038     48.376      0.000       1.773       1.923
C(naics)[T.444]       2.5696      0.038     67.253      0.000       2.495       2.645
C(naics)[T.445]       2.9844      0.038     78.107      0.000       2.909       3.059
C(naics)[T.446]       2.3613      0.038     61.801      0.000       2.286       2.436
C(naics)[T.447]       2.8241      0.038     73.912      0.000       2.749       2.899
C(naics)[T.448]       2.9574      0.038     77.400      0.000       2.882       3.032
C(naics)[T.451]       2.2064      0.038     57.746      0.000       2.131       2.281
C(naics)[T.452]       1.7219      0.038     45.065      0.000       1.647       1.797
C(naics)[T.453]       2.9178      0.038     76.366      0.000       2.843       2.993
C(naics)[T.454]       1.8935      0.038     49.556      0.000       1.819       1.968
C(naics)[T.481]      -0.2464      0.038     -6.448      0.000      -0.321      -0.171
C(naics)[T.483]      -1.8900      0.039    -48.947      0.000      -1.966      -1.814
C(naics)[T.484]       2.7524      0.038     72.036      0.000       2.678       2.827
C(naics)[T.485]       0.7002      0.038     18.325      0.000       0.625       0.775
C(naics)[T.486]      -1.2438      0.038    -32.428      0.000      -1.319      -1.169
C(naics)[T.487]      -1.2867      0.038    -33.586      0.000      -1.362      -1.212
C(naics)[T.488]       1.3645      0.038     35.712      0.000       1.290       1.439
C(naics)[T.492]       0.5647      0.038     14.780      0.000       0.490       0.640
C(naics)[T.493]       0.1073      0.038      2.808      0.005       0.032       0.182
C(naics)[T.511]       1.4402      0.038     37.692      0.000       1.365       1.515
C(naics)[T.512]       0.8125      0.038     21.264      0.000       0.738       0.887
C(naics)[T.513]       2.0796      0.045     45.984      0.000       1.991       2.168
C(naics)[T.514]       0.9548      0.045     21.114      0.000       0.866       1.043
C(naics)[T.515]       0.4344      0.049      8.914      0.000       0.339       0.530
C(naics)[T.516]      -1.4963      0.049    -30.705      0.000      -1.592      -1.401
C(naics)[T.517]       1.8731      0.049     38.439      0.000       1.778       1.969
C(naics)[T.518]       0.8436      0.049     17.311      0.000       0.748       0.939
C(naics)[T.519]      -0.8678      0.049    -17.808      0.000      -0.963      -0.772
C(naics)[T.521]      -4.5395      0.043   -105.387      0.000      -4.624      -4.455
C(naics)[T.522]       3.2622      0.038     85.378      0.000       3.187       3.337
C(naics)[T.523]       2.2105      0.038     57.854      0.000       2.136       2.285
C(naics)[T.524]       3.1417      0.038     82.224      0.000       3.067       3.217
C(naics)[T.525]      -1.4127      0.038    -36.854      0.000      -1.488      -1.338
C(naics)[T.531]       3.4731      0.038     90.898      0.000       3.398       3.548
C(naics)[T.532]       2.1622      0.038     56.589      0.000       2.087       2.237
C(naics)[T.533]      -1.4171      0.038    -37.088      0.000      -1.492      -1.342
C(naics)[T.541]       4.5547      0.038    119.206      0.000       4.480       4.630
C(naics)[T.551]       1.8182      0.038     47.586      0.000       1.743       1.893
C(naics)[T.561]       3.7748      0.038     98.793      0.000       3.700       3.850
C(naics)[T.562]       0.9812      0.038     25.679      0.000       0.906       1.056
C(naics)[T.611]       2.2682      0.038     59.362      0.000       2.193       2.343
C(naics)[T.621]       4.1180      0.038    107.776      0.000       4.043       4.193
C(naics)[T.622]       0.0756      0.038      1.980      0.048       0.001       0.151
C(naics)[T.623]       2.1746      0.038     56.914      0.000       2.100       2.249
C(naics)[T.624]       2.9886      0.038     78.218      0.000       2.914       3.063
C(naics)[T.711]       1.3186      0.038     34.510      0.000       1.244       1.393
C(naics)[T.712]       0.0045      0.038      0.117      0.907      -0.070       0.079
C(naics)[T.713]       2.3037      0.038     60.293      0.000       2.229       2.379
C(naics)[T.721]       2.2645      0.038     59.267      0.000       2.190       2.339
C(naics)[T.722]       4.2308      0.038    110.728      0.000       4.156       4.306
C(naics)[T.811]       3.4258      0.038     89.661      0.000       3.351       3.501
C(naics)[T.812]       3.2348      0.038     84.661      0.000       3.160       3.310
C(naics)[T.813]       3.7373      0.038     97.812      0.000       3.662       3.812
interaction_1999     -0.0061      0.029     -0.211      0.833      -0.063       0.050
interaction_2000     -0.0295      0.029     -1.023      0.306      -0.086       0.027
interaction_2001     -0.0354      0.029     -1.230      0.219      -0.092       0.021
interaction_2002     -0.1001      0.029     -3.474      0.001      -0.157      -0.044
interaction_2003     -0.1067      0.029     -3.702      0.000      -0.163      -0.050
interaction_2004     -0.1230      0.029     -4.267      0.000      -0.180      -0.067
interaction_2005     -0.1547      0.029     -5.366      0.000      -0.211      -0.098
interaction_2006     -0.1618      0.029     -5.611      0.000      -0.218      -0.105
=====================================================================================

* **Interpretación:** En este caso, se observa que ```interaction_1999``` y ```interaction_2000``` tienen coeficientes no significativos estadísticamente, lo que indica que se cumple el supuesto de **tendencias paralelas**.

  Por otro lado, el shock de la integración de China a la OMC tiene un efecto negativo persistente a largo plazo en las fabricas. Este shock ocurre con un año de retraso como en el caso del empleo.

In [ ]:
# Pago medio: avg_pay
formula_avg = f"avg_pay ~ {interactions_formula} + C(year) + C(fipstate) + C(naics)"
model_avg = smf.ols(formula=formula_avg, data=processed_df).fit()

print("\n--- EVENT STUDY: Salario medio ---")
print(model_avg.summary().tables[1])

--- EVENT STUDY: LOG(ESTABLECIMIENTOS) ---
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             4.6128      0.255     18.103      0.000       4.113       5.112
C(year)[T.1999]       0.2858      0.077      3.726      0.000       0.135       0.436
C(year)[T.2000]       0.9115      0.076     11.920      0.000       0.762       1.061
C(year)[T.2001]       1.2575      0.076     16.448      0.000       1.108       1.407
C(year)[T.2002]       1.2760      0.076     16.845      0.000       1.128       1.424
C(year)[T.2003]       1.3475      0.076     17.641      0.000       1.198       1.497
C(year)[T.2004]       1.6183      0.076     21.158      0.000       1.468       1.768
C(year)[T.2005]       1.9119      0.076     25.024      0.000       1.762       2.062
C(year)[T.2006]       2.6456      0.077     34.552      0.000       2.495       2.796
C(fipstate)[T.2]      2.1670      0.165     13.148      0.000       1.844       2.490
C(fipstate)[T.4]      0.5084      0.149      3.408      0.001       0.216       0.801
C(fipstate)[T.5]     -0.6802      0.151     -4.512      0.000      -0.976      -0.385
C(fipstate)[T.6]      2.7075      0.147     18.406      0.000       2.419       2.996
C(fipstate)[T.8]      1.8571      0.149     12.463      0.000       1.565       2.149
C(fipstate)[T.9]      3.5792      0.152     23.612      0.000       3.282       3.876
C(fipstate)[T.10]     1.6211      0.158     10.241      0.000       1.311       1.931
C(fipstate)[T.11]     4.1267      0.170     24.268      0.000       3.793       4.460
C(fipstate)[T.12]     0.6461      0.147      4.381      0.000       0.357       0.935
C(fipstate)[T.13]     1.3347      0.149      8.978      0.000       1.043       1.626
C(fipstate)[T.15]     0.9124      0.160      5.702      0.000       0.599       1.226
C(fipstate)[T.16]    -0.7418      0.158     -4.700      0.000      -1.051      -0.432
C(fipstate)[T.17]     1.8124      0.149     12.202      0.000       1.521       2.103
C(fipstate)[T.18]     0.4123      0.149      2.758      0.006       0.119       0.705
C(fipstate)[T.19]    -0.0723      0.153     -0.473      0.636      -0.372       0.227
C(fipstate)[T.20]    -0.1884      0.150     -1.254      0.210      -0.483       0.106
C(fipstate)[T.21]    -0.0340      0.150     -0.226      0.821      -0.329       0.261
C(fipstate)[T.22]     0.2070      0.149      1.393      0.164      -0.084       0.498
C(fipstate)[T.23]     0.0681      0.157      0.434      0.664      -0.239       0.376
C(fipstate)[T.24]     1.6717      0.150     11.181      0.000       1.379       1.965
C(fipstate)[T.25]     2.5933      0.150     17.277      0.000       2.299       2.887
C(fipstate)[T.26]     1.1950      0.147      8.105      0.000       0.906       1.484
C(fipstate)[T.27]     1.4473      0.150      9.632      0.000       1.153       1.742
C(fipstate)[T.28]    -0.6004      0.152     -3.956      0.000      -0.898      -0.303
C(fipstate)[T.29]     0.4768      0.149      3.205      0.001       0.185       0.768
C(fipstate)[T.30]    -0.8925      0.158     -5.648      0.000      -1.202      -0.583
C(fipstate)[T.31]    -0.0911      0.153     -0.595      0.552      -0.391       0.209
C(fipstate)[T.32]     0.6810      0.151      4.507      0.000       0.385       0.977
C(fipstate)[T.33]     1.0380      0.155      6.697      0.000       0.734       1.342
C(fipstate)[T.34]     2.7820      0.149     18.708      0.000       2.491       3.073
C(fipstate)[T.35]    -0.4416      0.154     -2.873      0.004      -0.743      -0.140
C(fipstate)[T.36]     3.4454      0.148     23.306      0.000       3.156       3.735
C(fipstate)[T.37]     0.5380      0.149      3.622      0.000       0.247       0.829
C(fipstate)[T.38]    -0.7866      0.164     -4.785      0.000      -1.109      -0.464
C(fipstate)[T.39]     0.6002      0.148      4.057      0.000       0.310       0.890
C(fipstate)[T.40]    -0.4293      0.150     -2.860      0.004      -0.724      -0.135
C(fipstate)[T.41]     0.7532      0.149      5.039      0.000       0.460       1.046
C(fipstate)[T.42]     1.0000      0.148      6.744      0.000       0.709       1.291
C(fipstate)[T.44]     0.8256      0.156      5.282      0.000       0.519       1.132
C(fipstate)[T.45]    -0.0568      0.151     -0.376      0.707      -0.353       0.239
C(fipstate)[T.46]    -0.8959      0.160     -5.599      0.000      -1.210      -0.582
C(fipstate)[T.47]     0.2504      0.149      1.679      0.093      -0.042       0.543
C(fipstate)[T.48]     1.4202      0.147      9.677      0.000       1.133       1.708
C(fipstate)[T.49]     0.0810      0.151      0.535      0.593      -0.216       0.378
C(fipstate)[T.50]     0.2177      0.162      1.346      0.178      -0.099       0.535
C(fipstate)[T.51]     1.2990      0.149      8.733      0.000       1.007       1.591
C(fipstate)[T.53]     1.9525      0.148     13.200      0.000       1.663       2.242
C(fipstate)[T.54]    -0.7162      0.155     -4.630      0.000      -1.019      -0.413
C(fipstate)[T.55]     0.5190      0.149      3.472      0.001       0.226       0.812
C(fipstate)[T.56]    -0.4457      0.169     -2.635      0.008      -0.777      -0.114
C(naics)[T.114]      -1.1072      0.349     -3.174      0.002      -1.791      -0.423
C(naics)[T.115]      -1.2533      0.296     -4.233      0.000      -1.834      -0.673
C(naics)[T.211]       8.5185      0.286     29.797      0.000       7.958       9.079
C(naics)[T.212]       4.7451      0.274     17.325      0.000       4.208       5.282
C(naics)[T.213]       3.9598      0.286     13.861      0.000       3.400       4.520
C(naics)[T.221]      10.8868      0.264     41.300      0.000      10.370      11.403
C(naics)[T.233]       1.9777      0.288      6.873      0.000       1.414       2.542
C(naics)[T.234]       2.4480      0.288      8.507      0.000       1.884       3.012
C(naics)[T.235]       1.1660      0.288      4.052      0.000       0.602       1.730
C(naics)[T.236]       2.2211      0.301      7.380      0.000       1.631       2.811
C(naics)[T.237]       2.7806      0.301      9.239      0.000       2.191       3.370
C(naics)[T.238]       0.8913      0.301      2.962      0.003       0.301       1.481
C(naics)[T.311]       0.5202      0.282      1.845      0.065      -0.033       1.073
C(naics)[T.312]       2.8591      0.291      9.833      0.000       2.289       3.429
C(naics)[T.313]       0.5756      0.294      1.960      0.050    2.97e-07       1.151
C(naics)[T.314]      -0.5422      0.288     -1.884      0.060      -1.106       0.022
C(naics)[T.315]      -1.3760      0.289     -4.761      0.000      -1.943      -0.809
C(naics)[T.316]      -0.3688      0.299     -1.235      0.217      -0.954       0.216
C(naics)[T.321]       0.3755      0.283      1.328      0.184      -0.179       0.930
C(naics)[T.322]       3.9019      0.286     13.641      0.000       3.341       4.462
C(naics)[T.323]       1.4452      0.281      5.142      0.000       0.894       1.996
C(naics)[T.324]       7.0238      0.290     24.205      0.000       6.455       7.593
C(naics)[T.325]       6.1337      0.284     21.610      0.000       5.577       6.690
C(naics)[T.326]       1.6410      0.283      5.809      0.000       1.087       2.195
C(naics)[T.327]       2.1099      0.282      7.485      0.000       1.557       2.662
C(naics)[T.331]       3.7322      0.286     13.051      0.000       3.172       4.293
C(naics)[T.332]       2.0237      0.282      7.176      0.000       1.471       2.576
C(naics)[T.333]       3.5656      0.283     12.577      0.000       3.010       4.121
C(naics)[T.334]       5.5141      0.283     19.478      0.000       4.959       6.069
C(naics)[T.335]       2.7858      0.286      9.747      0.000       2.226       3.346
C(naics)[T.336]       4.4731      0.285     15.705      0.000       3.915       5.031
C(naics)[T.337]       0.4117      0.282      1.459      0.145      -0.141       0.965
C(naics)[T.339]       1.6673      0.281      5.930      0.000       1.116       2.218
C(naics)[T.421]       4.1580      0.288     14.449      0.000       3.594       4.722
C(naics)[T.422]       2.6317      0.288      9.145      0.000       2.068       3.196
C(naics)[T.423]       4.4690      0.301     14.850      0.000       3.879       5.059
C(naics)[T.424]       3.2965      0.304     10.850      0.000       2.701       3.892
C(naics)[T.425]       2.1775      0.304      7.167      0.000       1.582       2.773
C(naics)[T.441]       1.1326      0.263      4.306      0.000       0.617       1.648
C(naics)[T.442]      -1.0092      0.263     -3.839      0.000      -1.525      -0.494
C(naics)[T.443]      -0.8183      0.264     -3.105      0.002      -1.335      -0.302
C(naics)[T.444]      -0.3682      0.263     -1.401      0.161      -0.883       0.147
C(naics)[T.445]      -2.6916      0.263    -10.243      0.000      -3.207      -2.177
C(naics)[T.446]      -1.4228      0.263     -5.415      0.000      -1.938      -0.908
C(naics)[T.447]      -3.0833      0.263    -11.734      0.000      -3.598      -2.568
C(naics)[T.448]      -3.1506      0.263    -11.990      0.000      -3.666      -2.636
C(naics)[T.451]      -3.2274      0.263    -12.282      0.000      -3.742      -2.712
C(naics)[T.452]      -2.5964      0.264     -9.853      0.000      -3.113      -2.080
C(naics)[T.453]      -2.8805      0.263    -10.962      0.000      -3.396      -2.365
C(naics)[T.454]       0.6218      0.263      2.366      0.018       0.107       1.137
C(naics)[T.481]       3.2804      0.272     12.076      0.000       2.748       3.813
C(naics)[T.483]       4.9717      0.298     16.704      0.000       4.388       5.555
C(naics)[T.484]       1.1008      0.263      4.185      0.000       0.585       1.616
C(naics)[T.485]      -2.4813      0.269     -9.230      0.000      -3.008      -1.954
C(naics)[T.486]      12.4464      0.296     42.095      0.000      11.867      13.026
C(naics)[T.487]      -2.5146      0.334     -7.521      0.000      -3.170      -1.859
C(naics)[T.488]       1.4403      0.264      5.465      0.000       0.924       1.957
C(naics)[T.492]       0.5365      0.268      2.000      0.045       0.011       1.062
C(naics)[T.493]       0.7329      0.271      2.708      0.007       0.202       1.263
C(naics)[T.511]       5.3379      0.265     20.127      0.000       4.818       5.858
C(naics)[T.512]      -1.7141      0.272     -6.313      0.000      -2.246      -1.182
C(naics)[T.513]       5.8189      0.290     20.044      0.000       5.250       6.388
C(naics)[T.514]       5.7343      0.301     19.057      0.000       5.145       6.324
C(naics)[T.515]       4.5386      0.303     14.971      0.000       3.944       5.133
C(naics)[T.516]       7.1951      0.348     20.670      0.000       6.513       7.877
C(naics)[T.517]       7.1924      0.301     23.899      0.000       6.602       7.782
C(naics)[T.518]       6.5141      0.315     20.709      0.000       5.898       7.131
C(naics)[T.519]       0.7642      0.354      2.161      0.031       0.071       1.457
C(naics)[T.521]       4.1925      2.792      1.502      0.133      -1.280       9.665
C(naics)[T.522]       4.8859      0.264     18.482      0.000       4.368       5.404
C(naics)[T.523]      23.5099      0.283     83.135      0.000      22.956      24.064
C(naics)[T.524]       6.0526      0.268     22.615      0.000       5.528       6.577
C(naics)[T.525]       8.5014      0.507     16.767      0.000       7.508       9.495
C(naics)[T.531]       0.4917      0.268      1.833      0.067      -0.034       1.018
C(naics)[T.532]      -0.3875      0.275     -1.411      0.158      -0.926       0.151
C(naics)[T.533]       6.3889      0.275     23.246      0.000       5.850       6.928
C(naics)[T.541]       4.2481      0.263     16.167      0.000       3.733       4.763
C(naics)[T.551]      11.8016      0.263     44.913      0.000      11.287      12.317
C(naics)[T.561]      -1.3024      0.263     -4.950      0.000      -1.818      -0.787
C(naics)[T.562]       1.7865      0.263      6.790      0.000       1.271       2.302
C(naics)[T.611]      -1.0620      0.263     -4.038      0.000      -1.578      -0.546
C(naics)[T.621]       2.5726      0.263      9.791      0.000       2.058       3.088
C(naics)[T.622]       2.2268      0.267      8.353      0.000       1.704       2.749
C(naics)[T.623]      -1.8377      0.264     -6.968      0.000      -2.355      -1.321
C(naics)[T.624]      -2.8063      0.266    -10.550      0.000      -3.328      -2.285
C(naics)[T.711]       2.3513      0.265      8.872      0.000       1.832       2.871
C(naics)[T.712]      -1.7611      0.265     -6.639      0.000      -2.281      -1.241
C(naics)[T.713]      -3.0559      0.264    -11.577      0.000      -3.573      -2.538
C(naics)[T.721]      -2.5090      0.263     -9.549      0.000      -3.024      -1.994
C(naics)[T.722]      -4.0119      0.263    -15.268      0.000      -4.527      -3.497
C(naics)[T.811]      -0.1662      0.263     -0.633      0.527      -0.681       0.349
C(naics)[T.812]      -2.4898      0.263     -9.475      0.000      -3.005      -1.975
C(naics)[T.813]      -2.1075      0.263     -8.020      0.000      -2.623      -1.592
interaction_1999     -0.0706      0.150     -0.469      0.639      -0.365       0.224
interaction_2000     -0.0787      0.149     -0.527      0.598      -0.372       0.214
interaction_2001     -0.2118      0.150     -1.416      0.157      -0.505       0.081
interaction_2002     -0.0583      0.150     -0.389      0.697      -0.352       0.235
interaction_2003      0.0252      0.149      0.170      0.865      -0.266       0.317
interaction_2004      0.0289      0.149      0.194      0.846      -0.264       0.322
interaction_2005     -0.0577      0.149     -0.387      0.699      -0.350       0.235
interaction_2006     -0.1311      0.149     -0.878      0.380      -0.424       0.162
=====================================================================================

* **Interpretación:** En caso del pago promedio (```avg_pay```), en los años pre-tratamiento (1999 y 2000) su coeficientes son no significativos estadísticamente, lo que indica que se cumple el supuesto de **tendencias paralelas**.

  Asimismo, a diferencia de los casos anteriores, la integración de China a la OMC para los años evaluados (2001-2006) no es significativo en el pago medio. Los p-value de los coeficientes de las interacciones de estos años son mayores al nivel de significancia estándar (0.10).

#**Ejercicio 2**

This exercise is based on the paper, Eissa, Nada, and Jeffrey B. Liebman. 1996. Labor Supply Responses to the Earned Income Tax Credit (EITC). Quarterly Journal of Economics. 111(2): 605-637. The data “eitc.dta” file contains data for single women 20-54 with less than high school education, as this group is most likely to be affected by the EITC.

In [ ]:
# Cargamos la base de datos
df = pd.read_stata('C:/Users/LESLY/Downloads/eitc.dta')

## **1: Tabla resumen de todos los datos**

In [ ]:
print("--- RESUMEN DE DATOS ---")
# describe() nos da media, desviación estándar, min, max, etc.
summary_table = df.describe()
display(summary_table)

--- RESUMEN DE DATOS ---

,state,year,urate,children,nonwhite,finc,earn,age,ed,work,unearn
count,13746.00000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000,13746.000000
mean,54.52459,1993.347046,6.761734,1.192638,0.600684,15255.319310,10432.475514,35.209661,8.806053,0.513022,4.822844
std,27.13521,1.709800,1.462461,1.382105,0.489776,19444.249684,18200.758138,10.157128,2.635639,0.499849,7.122624
min,11.00000,1991.000000,2.600000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000
25%,31.00000,1992.000000,5.700000,0.000000,0.000000,5123.417782,0.000000,26.000000,7.000000,0.000000,0.000000
50%,56.00000,1993.000000,6.800000,1.000000,1.000000,9636.664360,3332.179931,34.000000,10.000000,1.000000,2.973197
75%,81.00000,1995.000000,7.700000,2.000000,1.000000,18659.178178,14321.223709,44.000000,11.000000,1.000000,6.863863
max,95.00000,1996.000000,11.400000,9.000000,1.000000,575616.820870,537880.611850,54.000000,11.000000,1.000000,134.057520

## **2: Medias muestrales por grupo de hijos**

In [ ]:
print("\n--- MEDIAS POR GRUPO DE HIJOS ---")

# Creamos una función para clasificar a las mujeres según los grupos:
# (a) Sin hijos, (b) 1 hijo, (c) 2 o más hijos

def clasificar_hijos(n):
    if n == 0:
        return 'a) Sin hijos'
    elif n == 1:
        return 'b) 1 hijo'
    else:
        return 'c) 2+ hijos'

# Aplicamos la clasificación
df['grupo_hijos'] = df['children'].apply(clasificar_hijos)

# Calculamos el promedio de TODAS las variables agrupando por esta nueva categoría
medias_por_grupo = df.groupby('grupo_hijos').mean(numeric_only=True).T

display(medias_por_grupo)

--- MEDIAS POR GRUPO DE HIJOS ---

grupo_hijos  a) Sin hijos     b) 1 hijo   c) 2+ hijos
state           53.396660     55.590908     55.243855
year          1993.365479   1993.338135   1993.329956
urate            6.663067      6.802060      6.858664
children         0.000000      1.000000      2.801092
nonwhite         0.515944      0.596468      0.708885
finc         18559.863110  13941.569547  11985.295298
earn         13760.255844   9928.278759   6613.546648
age             38.498228     33.758993     32.047469
ed               8.548676      8.992479      9.006721
work             0.574490      0.537606      0.420710
unearn           4.799607      4.013291      5.371749

## **3: Construir variables 'anykids' y 'post93'**

In [ ]:
# Variable de tratamiento (anykids): 1 si tiene al menos un hijo, 0 si no
df['anykids'] = (df['children'] >= 1).astype(int)

# Variable temporal (post93): 1 si el año es 1994 o posterior, 0 si no
df['post93'] = (df['year'] >= 1994).astype(int)

In [ ]:
# Creamos el término de interacción (el DiD)
df['interaction'] = df['anykids'] * df['post93']

# Verificamos que se hayan creado bien
print(df[['year', 'children', 'anykids', 'post93', 'interaction']].head())

     year  children  anykids  post93  interaction
0  1991.0         0        0       0            0
1  1991.0         1        1       0            0
2  1991.0         2        1       0            0
3  1991.0         0        0       0            0
4  1991.0         3        1       0            0

## **4: Regresión Diferencias en Diferencias**

In [ ]:
# TNuestro modelo sería: earn = beta0 + beta1*anykids + beta2*post93 + beta3*interacción
# El coeficiente de interés es 'interaction' (beta3)

model_basic = smf.ols(formula='earn ~ anykids + post93 + interaction', data=df).fit()

print("\n--- RESULTADOS DE LA REGRESIÓN ---")
print(model_basic.summary())

--- RESULTADOS DE LA REGRESIÓN ---
                            OLS Regression Results
==============================================================================
Dep. Variable:                   earn   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                  0.026
Method:                 Least Squares   F-statistic:                     124.3
Date:                Tue, 03 Feb 2026   Prob (F-statistic):           1.96e-79
Time:                        11:17:13   Log-Likelihood:            -1.5416e+05
No. Observations:               13746   AIC:                         3.083e+05
Df Residuals:                   13742   BIC:                         3.084e+05
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     1.38e+04    319.810     43.146      0.000    1.32e+04    1.44e+04
anykids     -6613.5365    422.179    -15.665      0.000   -7441.065   -5786.008
post93        -81.8683    467.557     -0.175      0.861    -998.345     834.608
interaction  1668.6778    620.384      2.690      0.007     452.641    2884.715
==============================================================================
Omnibus:                    17833.782   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9111067.740
Skew:                           6.858   Prob(JB):                         0.00
Kurtosis:                     128.377   Cond. No.                         7.14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

- Interpretación: Viendo el coeficiente de la variable "interaction" (con un p-valor 0.007, que es estadisticamente significativo) podemos decir que, tras la expansión del programa EITC, las ganancias (earnings) de las mujeres solteras con hijos aumentaron en promedio $1669 dólares más que las de las mujeres solteras sin hijos.

## **5: Modelo con Efectos Fijos de Estado y Año**

Ahora debemos repetir el modelo (iv) pero con FE de estado y año.

In [ ]:
# Fórmula: earn = anykids + interaction + Efectos Fijos
# C(state) crea dummies por estado, C(year) crea dummies por año.
model_fe = smf.ols(formula='earn ~ anykids + interaction + C(state) + C(year)', data=df).fit()

print("--- RESULTADOS 5 (Efectos Fijos) ---")
# Buscamos y mostramos las filas de 'anykids' e 'interaction'
results_as_html = model_fe.summary().tables[1].as_html()
result_df = pd.read_html(results_as_html, header=0, index_col=0)[0]
display(result_df.loc[['anykids', 'interaction']])

--- RESULTADOS (Efectos Fijos) ---

                  coef  std err       t  P>|t|    [0.025    0.975]
anykids     -6646.0405  420.540 -15.804  0.000 -7470.357 -5821.724
interaction  1612.1312  617.393   2.611  0.009   401.956  2822.307

- El nuevo coeficiente de interaccion es similar al resultado de la Pregunta 4 (que era casi 1669). Esto sugiere que el efecto estimado es robusto; es decir, no cambia mucho incluso cuando controlamos por las diferencias fijas entre estados y los choques anuales comunes.

## **6: Modelo con Controles Adicionales**

In [ ]:
# Agregamos: urate (desempleo), nonwhite, age, ed (educación), unearn (ingreso no laboral)

model_controls = smf.ols(
    formula='earn ~ anykids + interaction + urate + nonwhite + age + ed + unearn + C(state) + C(year)',
    data=df
).fit()

print("\n--- RESULTADOS 6 (Con Controles) ---")
results_as_html_cont = model_controls.summary().tables[1].as_html()
result_df_cont = pd.read_html(results_as_html_cont, header=0, index_col=0)[0]
display(result_df_cont.loc[['anykids', 'interaction', 'urate', 'nonwhite', 'age', 'ed', 'unearn']])

--- RESULTADOS 6 (Con Controles) ---

                  coef  std err       t  P>|t|    [0.025    0.975]
anykids     -6224.6707  431.618 -14.422  0.000 -7070.702 -5378.640
interaction  1661.8117  616.237   2.697  0.007   453.903  2869.720
urate         -44.8069  276.405  -0.162  0.871  -586.599   496.985
nonwhite    -2575.0164  361.745  -7.118  0.000 -3284.087 -1865.946
age            33.5963   15.934   2.108  0.035     2.363    64.830
ed            119.9487   60.318   1.989  0.047     1.717   238.180
unearn        -42.7092   21.670  -1.971  0.049   -85.186    -0.233

- Nuevamente, el resultado del coeficiente es muy estable (similar a 1668 y 1612). Esto refuerza la conclusión de que el programa EITC tuvo un efecto positivo y significativo en las ganancias, independientemente de la edad, educación o ubicación de las mujeres.

## **7: Efectos Variados (1 hijo vs 2+ hijos)**

In [ ]:
# 1. Creamos dummies para los grupos específicos de hijos
df['one_kid'] = (df['children'] == 1).astype(int)
df['two_plus_kids'] = (df['children'] >= 2).astype(int)

# 2. Creamos las interacciones con post93
df['interact_1'] = df['one_kid'] * df['post93']
df['interact_2'] = df['two_plus_kids'] * df['post93']

# 3. Corremos la regresión incluyendo los controles de la pregunta 6
# Nota: Usamos 'one_kid' y 'two_plus_kids' en lugar de 'anykids' para separar los niveles base también.

model_hetero = smf.ols(
    formula='earn ~ one_kid + two_plus_kids + interact_1 + interact_2 + urate + nonwhite + age + ed + unearn + C(state) + C(year)',
    data=df
).fit()

print("--- RESULTADOS 7 (Efectos por N° de Hijos) ---")
# Mostramos las variables de interés
results_as_html_h = model_hetero.summary().tables[1].as_html()
result_df_h = pd.read_html(results_as_html_h, header=0, index_col=0)[0]
display(result_df_h.loc[['interact_1', 'interact_2']])

--- RESULTADOS 7 (Efectos por N° de Hijos) ---

                 coef  std err      t  P>|t|    [0.025    0.975]
interact_1  2699.6643  795.516  3.394  0.001  1140.344  4258.984
interact_2   953.5636  694.884  1.372  0.170  -408.505  2315.632

- Contrario a la predicción basada en el monto del subsidio (que es mayor para familias grandes), los resultados muestran que la política fue efectiva solo para madres con un hijo (por el coeficiente de 2699.6, que tiene un valor p (0.001) significativo).
  
- En el mundo real, esto puede deberse a que los costos fijos y variables de trabajar (especialmente cuidado infantil y logística) crecen exponencialmente con el número de hijos. Es posible que el subsidio adicional por el segundo hijo no sea suficiente para compensar el costo de mercado de su cuidado, haciendo que la barrera para entrar al mercado laboral siga siendo demasiado alta para madres con familias numerosas.

## **8: Prueba Placebo (Datos pre-reforma)**

In [ ]:
# 1. Filtramos datos: Usar solo años ANTERIORES a la reforma real (<= 1993)
df_placebo = df[df['year'] <= 1993].copy()

# 2. Creamos una reforma "falsa" en 1992
# Asumimos que la política empezó en 1992 (tratamiento: 92 y 93)
df_placebo['post92_fake'] = (df_placebo['year'] >= 1992).astype(int)

# 3. Creamos interacción placebo
df_placebo['interaction_placebo'] = df_placebo['anykids'] * df_placebo['post92_fake']

# 4. Corremos la regresión con controles
model_placebo = smf.ols(
    formula='earn ~ anykids + interaction_placebo + urate + nonwhite + age + ed + unearn + C(state) + C(year)',
    data=df_placebo
).fit()

print("\n--- RESULTADOS 8 (Prueba Placebo) ---")
results_as_html_p = model_placebo.summary().tables[1].as_html()
result_df_p = pd.read_html(results_as_html_p, header=0, index_col=0)[0]
display(result_df_p.loc[['interaction_placebo']])

--- RESULTADOS 8 (Prueba Placebo) ---

                         coef  std err      t  P>|t|   [0.025   0.975]
interaction_placebo  942.4213  769.433  1.225  0.221 -565.888  2450.73

- Observamos que el coeficiente de interaction_placebo NO es significativo (por su valor-p de 0.2, que es mayor que 0.05).
- Ya que el coeficiente no es significativo, los resultados son tranquilizadores, ya que esto significa que antes de la reforma real, no había tendencias extrañas haciendo que las mujeres con hijos ganaran más.
- Esto valida que el efecto que encontramos en las preguntas anteriores fue causado realmente por la reforma de 1994 y no por otra cosa.